extends layout

block body
  main
    h1 Current status:
    div(id='readings' class='inaccurate-reading')
      p
        | Temp:&nbsp;
        span(id='temp-reading' class='reading')
          | #{temp}
      p
        | ORP:&nbsp;
        span(id='orp-reading' class='reading')
          | #{orp}
      p
        | pH:&nbsp;
        span(id='ph-reading' class='reading')
          | #{ph}
      p
        | Water flowing now:&nbsp;
        span(id='flow-good')
          | #{flowGood}
      p
        | Water last flowing at:&nbsp;
        span(id='last-flow-good')
          | #{lastFlowGood}
      p
        | Serious errors:&nbsp;
        span(id='fatal-error-field')
          | #{fatalError}

  script(src='index.js')
